@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://rsms.me/inter/inter.css");

:root {
  --text-primary: #000;
  --text-secondary: #999;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.725;
  color: var(--text-primary);
  letter-spacing: -0.006em;

  @supports (font-variation-settings: normal) {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
}

code {
  font-family: "JetBrains Mono", monospace;
  word-break: break-word;
}

:not(pre) > code {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  border-radius: 0.4em;
}

pre {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 4px;
  font-size: 12px;
  overflow-x: auto;
}

a {
  color: inherit;
  text-decoration: underline;
}

blockquote {
  margin: 2em;
  position: relative;
  font-weight: 500;

  &::before {
    font-size: 2em;
    content: "\201C";
    vertical-align: -0.4em;
    line-height: 0.1em;
  }

  p {
    margin: 0;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: -0.022em;
}

img {
  max-width: 100%;
}
