@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "./highlight";

:root {
  --accent: #ddd;
  --background: #fff;
  --text-primary: #000;
  --text-secondary: #555;
  --link-color: #0044ff;
  --nav-hover: #eee;
  --skeleton: #eee;

  --warning-background: rgba(255, 166, 0, 0.192);
  --on-warning: #a06800;
  --warning: rgb(238, 155, 0);
  --error: rgb(255, 53, 53);
  --page-gutter: 24px;

  @media (prefers-color-scheme: dark) {
    --accent: #666;
    --background: #000;
    --text-primary: #fff;
    --text-secondary: #999;
    --link-color: #2a63ff;
    --nav-hover: #222;
    --skeleton: #333;

    --warning-background: rgba(255, 191, 72, 0.274);
    --on-warning: orange;
    --warning: rgb(255, 177, 32);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-primary);
  letter-spacing: -0.006em;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

code {
  font-family: "IBM Plex Mono", monospace;
  word-break: break-word;
}

pre {
  margin: 0;
}

:not(pre) > code {
  border: 1px solid var(--accent);
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  border-radius: 0.4em;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

img {
  max-width: 100%;
}
