.base {
  max-width: 736px;
  margin: 0 auto;
  padding: 0 var(--page-gutter);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  footer {
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
    padding-block: 32px;
    border-top: 1px solid var(--accent);

    &::before {
      content: "// ";
      color: var(--text-secondary);
    }
  }
}
