.list {
  a {
    display: block;
    text-decoration: none;
    margin-block: 32px;

    &:hover h3 {
      text-decoration: underline;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin-block: 0 16px;
  }

  p {
    margin: 0;
  }
}
