.header {
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: -0.022em;
  }

  time {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 1;
    color: var(--text-secondary);
  }
}
