.header {
  margin-top: var(--page-gutter);
  margin-bottom: 24px;

  @media (min-width: 480px) {
    margin-top: 64px;
  }

  h1 {
    margin-block: 16px;
    font-size: 48px;

    @media (min-width: 768px) {
      font-size: 56px;
    }
  }

  time {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: var(--text-secondary);
  }
}

.excerpt {
  font-weight: 700;
  font-size: 18px;
  margin-block: 12px;
}
