.list {
  padding: 0;
  margin: 48px 0;
  padding-left: 16px;

  li {
    list-style-type: none;
    margin-bottom: 8px;

    &::before {
      content: "–";
      margin-left: -15px;
      position: absolute;
      color: var(--text-secondary);
    }
  }
}
