.container {
  line-height: 1.75;

  p {
    margin-block: 0 24px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-block: 24px 12px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 24px 12px;
  }

  a {
    color: var(--link-color);
    font-weight: 500;
  }

  blockquote {
    border-left: 4px solid var(--accent);
    margin: 0;
    padding-left: 16px;
    font-weight: 500;
    font-style: italic;
  }

  img {
    display: block;
    border-radius: 12px;
    margin-block: 24px;
  }

  table {
    border-collapse: collapse;
    font-size: 14px;
    margin-block: 24px;

    th,
    td {
      padding: 8px 12px;
      border: 1px solid var(--accent);
    }

    th {
      font-weight: 700;
    }
  }
}

.pre {
  border: 1px solid var(--accent);
  border-radius: 6px;
  padding: 12px;
  font-size: 0.8em;
  margin-block: 24px;
  overflow-x: auto;
}
