.root {
  --padding: 12px;

  background-color: var(--warning-background);
  color: var(--on-warning);
  padding: var(--padding);
  border-radius: 12px;
  display: flex;
  margin-block: 24px;
}

.icon {
  flex: 0 0 20px;
  margin-right: var(--padding);
}
