:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    /* fix for Chrome */ "cv10";
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html {
  background-color: #e8e7e3;
}

@media print {
  html {
    background-color: #fff;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: black;
  letter-spacing: -0.022em;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  flex-grow: 1;
}

footer {
  margin: 1rem 0;
}

hgroup {
  margin: 6rem 0 4rem 0;
}

.ipa {
  color: #5a5853;
  margin-top: 0.25rem;
  font-size: 90%;
}

.ipa a {
  color: inherit;
  text-decoration: none;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  transition:
    background-color 0.1s,
    color 0.1s;
  margin: 0 -0.25rem;
}

.ipa a:hover {
  color: black;
  background-color: #dbdad7;
}

.cv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  row-gap: 4rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.cv h3 {
  font: inherit;
  margin: 0;
}

.cv ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cv ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.cv a {
  color: inherit;
  text-decoration: none;
}

.cv a:hover {
  text-decoration: underline;
}

main.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

main.centered hgroup {
  margin: 0;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: 400;
  gap: 2rem;
}

.links a {
  color: inherit;
  text-decoration: none;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  transition: background-color 0.1s;
}

.links a:hover,
.links a:focus {
  background-color: #dbdad7;
}

.rainbow {
  display: inline-flex;
  gap: 0.25rem;
}

.rainbow div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  transition: transform 0.1s ease-in-out;
  background-color: var(--color);
}

.rainbow .green {
  --color: #75bd21;
}

.rainbow .yellow {
  --color: #ffc728;
}

.rainbow .orange {
  --color: #ff661c;
}

.rainbow .red {
  --color: #cf0f2b;
}

.rainbow .purple {
  --color: #b01cab;
}

.rainbow .blue {
  --color: #00a1de;
}
